h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif;
}

.flexContenedor1 {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.flexContenedor2 {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

/* CAJETAS */

.flexBox1 {
	background-image: linear-gradient(to top, #f2f5f7, white);
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: #e3e3e3;
	margin: 10px;
}

.flexBox2 {
	background-image: linear-gradient(to top, #f2f5f7, white);
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: #e3e3e3;
	margin: 12px 3px;
	height: 300px;
	width: 210px;
}


/* OTROS */

.sombra_texto {
	text-shadow: 3px 3px 4px #e0e0e0;}
