{% extends 'algoritmo/base.html' %}
{% block content %}
<div class="flexContenedor1">
	<div class="text-center p-4">
		<div class="row">
			<div class="text-center">
				<h1 class="display-3 sombra_texto">HeapSort</h1>
				<p class="h4">Algoritmo de ordenamiento</p>
				<p class="text-primary font-weight-light">Francisco Pérez - Melitón Rodríguez - Alejandro Andrade</p>
			</div>
		</div>
	</div>

	<div class="flexBox1 text-center shadow p-4">
		<canvas id="myCanvas" width="800" height="600" style="border:1px solid grey;"></canvas>
	</div>

	<div class="flexBox1 text-center shadow p-4">
		<b class="font-weight-light">Ingresa una lista:</b>
		<form action="nueva_lista" method="POST">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Ordenar</button>
		</form>
		<ul class="list-group">
			<li class="list-group-item list-group-item-warning">Separados por coma.</li>
			<li class="list-group-item list-group-item-warning">15 números máximo.</li>
		</ul>
	</div>

</div>


<script>
	$( document ).ready(function() {
		var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
		ctx.font = "20px Arial";
		var x = document.getElementById("myCanvas").width;
		var y = document.getElementById("myCanvas").height;
		var radio = 28
		var lista = ("{{ lista }}").split(/ *, *| *\/ */);
		var listaOrdenada = [];
		var valores = {
			0: [x/2, 2*y/6],
			1: [x/4, 3*y/6],
			2: [3*x/4, 3*y/6],
			3: [x/8, 4*y/6],
			4: [3*x/8, 4*y/6],
			5: [5*x/8, 4*y/6],
			6: [7*x/8, 4*y/6],
			7: [x/16, 5*y/6],
			8: [3*x/16, 5*y/6],
			9: [5*x/16, 5*y/6],
			10: [7*x/16, 5*y/6],
			11: [9*x/16, 5*y/6],
			12: [11*x/16, 5*y/6],
			13: [13*x/16, 5*y/6],
			14: [15*x/16, 5*y/6]
		};

		// Obtiene índice de pariente

		function dameIndiceHijoIzquierdo(indicePadre){
		    return Math.floor((2*indicePadre)+1);}

		function dameIndiceHijoDerecho(indicePadre){
		    return Math.floor((2*indicePadre)+2);}

		function dameIndicePadre(indiceHijo){
		    return Math.floor((indiceHijo-1)/2);}

		// Verifica pariente

		function tieneHijoIzquierdo(indice){
		    return Boolean(dameIndiceHijoIzquierdo(indice) < lista.length);}

		function tieneHijoDerecho(indice){
		    return Boolean(dameIndiceHijoDerecho(indice) < lista.length);}

		function tienePadre(indice){
		    return Boolean(dameIndicePadre(indice) >= 0);}

		// Obtiene pariente

		function hijoIzquierdo(indice){
		    return parseInt(lista[dameIndiceHijoIzquierdo(indice)]);}

		function hijoDerecho(indice){
		    return parseInt(lista[dameIndiceHijoDerecho(indice)]);}

		function padre(indice){
		    return parseInt(lista[dameIndicePadre(indice)]);}

		// Funciones de ayuda

		function intercambio(indiceUno, indiceDos){
		    var temp = lista[indiceUno];
		    lista[indiceUno] = lista[indiceDos];
		    lista[indiceDos] = temp;
		}

		function extraerCima(){
			listaOrdenada.splice(0, 0, lista[0]);
		    lista[0] = lista[(lista.length)-1];
		    lista.pop();
		    var indiceGrande = 0;
		    var indice = 0;
		    while(Boolean(tieneHijoIzquierdo(indice, lista))){
				indiceGrande = dameIndiceHijoIzquierdo(indice);
				if(Boolean(tieneHijoDerecho(indice)) && (hijoDerecho(indice) >  hijoIzquierdo(indice))){
					indiceGrande = dameIndiceHijoDerecho(indice);}
				if(parseInt(lista[indice]) > parseInt(lista[indiceGrande])){
					break;}
				else{
					intercambio(indice, indiceGrande);}
				indice = indiceGrande;}
		}

		function propiedadHeap(){
			var sigue = true;
			while(Boolean(sigue)){
				sigue = false;
				for(i = lista.length-1; i > -1; i--){
					if(Boolean(tienePadre(i)) && (parseInt(lista[i]) > padre(i))){
						intercambio(i, dameIndicePadre(i));
						sigue = true;
					}
				}
		    }
		}


		tiempo = 0;
		var cuenta = 0;
		swich1 = false;
		function animate(){
			requestAnimationFrame(animate);

			ctx.clearRect(0, 0, innerWidth, innerHeight);

			for (i = lista.length-1; i > -1; i--) {
				var indicePadre = Math.floor((i-1)/2);
				if(indicePadre>=0){
					ctx.beginPath();
					ctx.moveTo(valores[i][0], valores[i][1]);
					ctx.lineTo(valores[indicePadre][0], valores[indicePadre][1]);
					ctx.strokeStyle = "black";
					ctx.stroke();}
				}
			for (i = 0; i < lista.length; i++) {
				ctx.beginPath();
				ctx.arc(valores[i][0], valores[i][1], radio, 0, 2*Math.PI, false);
				ctx.fillStyle = "#308be6";
				ctx.fill();
				ctx.textAlign = "center";
				ctx.fillStyle = "white";
				ctx.fillText(lista[i], valores[i][0], valores[i][1]+8);
			}
			tiempo += 5;
			if((tiempo>1300) && (swich1 == false)){
				propiedadHeap();
				alert('Se ordena el montículo.');
				swich1 = true;
			}

			if((tiempo>2000) && (lista.length>0)){
				tiempo -=800;
				extraerCima();
			}

		}

		// Programa principal

		if (lista.length<=15){
			animate();
			// setTimeout(dibujaArbol, 3000);
		}
		else{
			ctx.fillStyle = "red";
			ctx.fillText("Ingresa 15 números solamente.", 250, y/2);}

	});
</script>


{% endblock %}
