{% extends 'algoritmo/base.html' %}
{% block content %}
<div class="flexContenedor1">
	<div class="text-center p-4">
		<div class="row">
			<div class="text-center">
				<h1 class="display-3 sombra_texto">HeapSort</h1>
				<p class="h4">Algoritmo de ordenamiento</p>
				<p class="text-primary font-weight-light">Francisco Pérez - Melitón Rodríguez - Alejandro Andrade</p>
			</div>
		</div>
	</div>

	<div class="flexBox1 text-center shadow p-4">
		<canvas id="myCanvas" width="800" height="600" style="border:1px solid grey;"></canvas>
	</div>

	<div class="flexBox1 text-center shadow p-4">
		<b class="font-weight-light">Ingresa una lista:</b>
		<form action="nueva_lista" method="POST">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Ordenar lista</button>
		</form>
		<ul class="list-group">
			<li class="list-group-item list-group-item-warning">Separados por coma.</li>
			<li class="list-group-item list-group-item-warning">15 números solamente.</li>
		</ul>
	</div>

</div>


<script>
	$( document ).ready(function() {
		var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
		ctx.font = "20px Arial";
		var x = document.getElementById("myCanvas").width;
		var y = document.getElementById("myCanvas").height;
		var radio = 28
		var lista = ("{{ lista }}").split(/ *, *| *\/ */);

		if (lista.length<=15){
			dibujaArbol(lista);}
		else{
			ctx.fillStyle = "red";
			ctx.fillText("Ingresa 15 números solamente.", 250, y/2);}

		function dibujaArbol(lista){
			var valores = {
				0: [x/2, 2*y/6],
				1: [x/4, 3*y/6],
				2: [3*x/4, 3*y/6],
				3: [x/8, 4*y/6],
				4: [3*x/8, 4*y/6],
				5: [5*x/8, 4*y/6],
				6: [7*x/8, 4*y/6],
				7: [x/16, 5*y/6],
				8: [3*x/16, 5*y/6],
				9: [5*x/16, 5*y/6],
				10: [7*x/16, 5*y/6],
				11: [9*x/16, 5*y/6],
				12: [11*x/16, 5*y/6],
				13: [13*x/16, 5*y/6],
				14: [15*x/16, 5*y/6]
			};
			for (i = lista.length-1; i > -1; i--) {
				var indicePadre = Math.floor((i-1)/2);
				if(indicePadre>=0){
					ctx.beginPath();
					ctx.moveTo(valores[i][0], valores[i][1]);
					ctx.lineTo(valores[indicePadre][0], valores[indicePadre][1]);
					ctx.strokeStyle = "black";
					ctx.stroke();}
				}
			for (i = 0; i < lista.length; i++) {
				ctx.beginPath();
				ctx.arc(valores[i][0], valores[i][1], radio, 0, 2*Math.PI, false);
				ctx.fillStyle = "#308be6";
				ctx.fill();
				ctx.textAlign = "center";
				ctx.fillStyle = "white";
				ctx.fillText(lista[i], valores[i][0], valores[i][1]+8);
			}
		}


	});
</script>


{% endblock %}